nav{	
	ul{
		list-style: none;
    	background-color: #898989;
    	height: 50px;
    	padding: 15px;
		li{
			float: left;
			a{
				padding: 10px 20px;
				color: #fff;				
				&:hover{
					background-color: #494646;
					color: #898989;
					text-decoration: none;
				}
			}
		}
	}
	@media screen and (max-width: 767px) {
		//display:none;
		position: fixed;
	    left: -150%;
	    top: 0;
	    bottom: 0;
	   // right: 0;
	    z-index: 101;
	    background-color: black;
	    background-color: rgba(0, 0, 0, 0.8);
	}

}